<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.santum.genericUtility.ListnerImplementationClass"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.insurance.santum.client.DeleteClientTest"/>
      <class name="com.insurance.santum.client.ClientAddPaymentTest"/>
      <class name="com.insurance.santum.client.EditClientTest"/>
      <class name="com.insurance.santum.client.AddNewNomineeToClientTest"/>
      <class name="com.insurance.santum.client.ClientEditNomineeTest"/>
      <class name="com.insurance.santum.client.CreateClientTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
